[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit MINI-SPDT-SW footprint & symbol by Gravitech | SnapMagic Search
Type=Link
URL=https://www.snapeda.com/parts/MINI-SPDT-SW/Gravitech/view-part/
Icon=text-html
